<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/styleguide.css">
    <script defer src="/main.js"></script>
  </head>
  <body>  
  <header>
<nav> 
    <ul> 
        <li>
            <details>
                <summary>Projecten</summary>
                <ul>
                    <li><a href="/">Stekjes</a></li> 
                    <li><a href="https://biebinbloei.nl/zaden">Zaden</a></li> 
                    <li><a href="https://biebinbloei.nl/geveltuin">Geveltuin</a></li> 
                    <li><a href="https://biebinbloei.nl/groenebieb">Groenebieb</a></li> 
                </ul>
            </details>
        </li> 
        <li><a href="https://biebinbloei.nl/agenda">Agenda</a></li> 
        <li><a href="https://biebinbloei.nl/partners">Partners</a></li> 
        <li><a href="https://biebinbloei.nl/over">Over</a></li> 
        <li><a href="https://biebinbloei.nl/contact">Contact</a></li> 
    </ul> 
</nav>
